<div class="body">
  <div class="body-secondary">
      <div class="form-container">
        <h1>Create an Account</h1>
        <p>Already a member? <a href="login" (click)="goToLogin()">Log In</a></p>

        <form [formGroup]="registrationForm" (ngSubmit)="Register()">
          <div>
            <label>
              <input type="text" id="firstName" formControlName="firstName" required>
              <span>First Name</span>
              
              <div *ngIf="registrationForm.get('firstName')?.invalid && registrationForm.get('firstName')?.touched">
                <p *ngIf="registrationForm.get('firstName')?.errors?.['required']" class="text-danger">First name is required</p>
              </div>
            </label>

            <label>
              <input type="text" id="lastName" formControlName="lastName" required>
              <span>Last Name</span>

              <div *ngIf="registrationForm.get('lastName')?.invalid && registrationForm.get('lastName')?.touched">
                <p *ngIf="registrationForm.get('lastName')?.errors?.['required']" class="text-danger">Last name is required</p>
              </div>
            </label>
          </div>

          <label>
            <input type="text" id="email" formControlName="email" required>
            <span>Email</span>

            <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
              <p *ngIf="registrationForm.get('email')?.errors?.['required']" class="text-danger"> Email is required</p>
              <p *ngIf="registrationForm.get('email')?.errors?.['email']" class="text-danger">Enter a valid email</p>
            </div>
          </label>

          <label>
            <input type="password" id="password" formControlName="password" required>
            <span>Password</span>
            
            <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
              <p *ngIf="registrationForm.get('password')?.errors?.['required']" class="text-danger">Password is required</p>
              <p *ngIf="registrationForm.get('password')?.errors?.['minlength']" class="text-danger">Password must be at least 6 characters long</p>
            </div>
          </label>

          <label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
            <span>Confirm Password</span>

            <div *ngIf="registrationForm.errors?.['passwordMismatch'] && registrationForm.get('confirmPassword')?.touched">
              <p class="text-danger">Passwords dont match</p>
            </div>
          </label>

          <select *appUnless="jobOptions.length==0" class="button" id="jobId" formControlName="jobId" required>
            <option [ngValue]="null" disabled>Select a job...</option>
            <option *ngFor="let job of jobOptions" [ngValue]="job">{{job.title}}</option>
          </select>
          <div *ngIf="registrationForm.get('jobId')?.invalid && registrationForm.get('jobId')?.touched">
            <p class="text-danger">Please select a job</p>
          </div>
          <div *ngIf="jobOptions.length == 0">
            <p>Error loading jobs</p>
          </div>

          <button type="submit">Create Account</button>
        </form>
      </div>

      <div class="image-container">
        <img src="../../../assets/images/background-secondary.jpg">
      </div>
  </div>
</div>