<app-navbar></app-navbar>
<div class="body">
    <div class="job-container">
        <h1>Jobs list</h1>
        <table>
            <tr *ngFor="let job of jobOptions">
                <td>{{job.title}}</td>
                <td>
                    <button class="btn btn-danger" (click)="deleteJob(job)">Delete job</button>
                </td>
            </tr>
        </table>
    </div>

    <form class="form" [formGroup]="jobForm" (ngSubmit)="addNewJob()">
        <h1>Add a job</h1>

        <input type="text" name="title" id="" formControlName="title">

        <div *ngIf="jobForm.get('title')?.invalid && jobForm.get('title')?.touched">
            <p class="text-danger">Please enter a title</p>
        </div>

        <button class="btn btn-primary">Add Job</button>

    </form>
    <br>
</div>